#chat_panel {
    /*background: rgba(0, 0, 0, 0.5);*/
}

#chat_panel #side_bar {
    /*background: rgba(0, 0, 0, 0.1);*/
    min-width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#chat_panel #chat_panel_side_header {
    background: #353333;
    color: white;
    min-height: 32px;
}

#chat_panel #side_bar button.worm {
    min-height: 64px;
    border: none;
    background: transparent;
    transition: 300ms;
    border-radius: 0;
}

#chat_panel #side_bar button.chosen_friend {
    min-height: 64px;
    border: none;
    background: crimson;
    color: white;
    transition: 300ms;
    border-radius: 0;
}

#chat_panel #side_bar .chat_panel_side_header {
    /*background: linear-gradient(45deg, crimson, #ff7640);*/
    color: gray;
    /*padding: 2px;*/
    margin: 8px 20px;

    min-height: 32px;
    /*border-radius: 50%;*/

    border-bottom: 1px solid black;

    /*box-shadow: crimson 0 0 10px 1px;*/
}

#chat_panel #side_bar button.worm:hover {
    background: rgba(181, 86, 86, 0.48);
}

#chat_panel #side_bar button image {
    margin: 0 16px;
    background: transparent;
}

#chat_panel #chat_panel_body {
    /*background: rgba(0, 0, 0, 0.2);*/
}

#chat_panel #chat_panel_chat_body {
    /*background: red;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 350px;
}

#chat_panel #chat_panel_button_set_1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#chat_panel #chat_panel_button_file,
#chat_panel #chat_panel_button_image {
    min-width: 20px;
    min-height: 20px;
    background: transparent;
    border: none;
    border-radius: 50%;
    margin: 4px 0 4px 8px;

    transition: 300ms;
}

#chat_panel #chat_panel_button_file:hover,
#chat_panel #chat_panel_button_image:hover {
    background: crimson;
    color: white;
}

#chat_panel #chat_panel_input_box {
    padding: 16px;

}

#chat_panel #chat_panel_button_set_2 {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#chat_panel #chat_panel_button_send {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 8px;
    transition: 300ms;
    min-width: 100px;
}

#chat_panel #chat_panel_button_send:hover {
    /*background: crimson;*/
    background: linear-gradient(45deg, crimson, #ff7640);
    color: white;
}

#chat_panel #chat_panel_chat_body_box {
    /*background: rgba(0, 0, 0, 0.1);*/
}

#chat_panel .chat_content_left {
    background: rgba(181, 86, 86, 0.65);
    margin: 5px 0 5px 12px;
    padding: 0 12px;
    border-radius: 5px;
    color: white;
}

#chat_panel .chat_avatar_left {
    margin-left: 24px;
}

#chat_panel .chat_panel_chat_item {
    margin: 12px 0;
}

#chat_panel .chat_content_right {
    background: rgba(181, 86, 86, 0.65);
    margin: 5px 12px 5px 0;
    padding: 0 12px;
    border-radius: 5px;
    color: white;
}

#chat_panel .chat_avatar_right {
    margin-right: 24px;
}

#chat_panel .chat_button_file_left {
    background: rgba(181, 86, 86, 0.65);
    margin: 5px 0px 5px 12px;
    padding: 0 12px;
    border-radius: 5px;
    color: white;
    border: none;
    transition: 300ms;
}

#chat_panel .chat_button_file_left:hover {
    /*box-shadow: crimson 0 0 10px 1px;*/
    background: linear-gradient(45deg, crimson, #ff7640);
}

#chat_panel .chat_button_file_right {
    background: rgba(181, 86, 86, 0.65);
    margin: 5px 12px 5px 0px;
    padding: 0 12px;
    border-radius: 5px;
    color: white;
    border: none;
    transition: 300ms;
}

#chat_panel .chat_button_file_right:hover {
    background: linear-gradient(45deg, crimson, #ff7640);
}

#chat_panel #status_bar {
    margin: 8px 50px;
    border-radius: 3px;
    background: linear-gradient(45deg, crimson, #ff7640);
    color: white;
}

#chat_panel .new_msg {
    /*background: linear-gradient(45deg, crimson, #ff7640);*/
    /*box-shadow: crimson 0 0 1px 10px;*/
}

/*#chat_panel .new_msg_label {*/
    /*min-width: 10px;*/
    /*min-height: 10px;*/
    /*background: red;*/
    /*margin: 25px 20px;*/
    /*border-radius: 50%;*/
/*}*/