#user_panel {
    /*min-width: 100px;*/
    /*background: black;*/
}

#user_panel #avatar {
    margin-top: 64px;
    margin-bottom: 64px;
}

#user_panel .user_panel_label {
    margin-left: 0;
    color: gray;
    /*margin-bottom: 32px;*/
}

#user_panel .user_panel_field_box {
    margin: 0px 280px;
    padding: 16px 0;
    border-bottom: 1px solid gray;
}

#user_panel .user_panel_entry {
    background: none;
    border: none;
    transition: 300ms;
    margin-left: 30px;
    margin-right: 0;
}

#user_panel .user_panel_entry:focus {
    background: rgba(0, 0, 0, 0.1);
}