#user_panel {
    /*min-width: 100px;*/
    /*background: black;*/
}

#user_panel #avatar {
    margin-top: 64px;
    margin-bottom: 64px;
}

#user_panel .user_panel_label {
    margin-left: 0;
    color: gray;
    /*margin-bottom: 32px;*/
}

#user_panel .user_panel_field_box {
    margin: 0px 240px;
    padding: 16px 0;
    border-bottom: 1px solid gray;
    /*background: red;*/
}

#user_panel #username_label {
    margin-right: 210px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user_panel .radio {
    border: none;
    margin: 10px 5px;
}

#user_panel #sign_entry {
    min-width: 210px;

    background: none;
    border: none;
    transition: 300ms;
    margin-left: 30px;
    margin-right: 0;
}

#user_panel #sign_entry:focus {
    background: rgba(0, 0, 0, 0.1);
}